/*-------------------------------------------
[ tag ]
 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    min-height: 100vh;
    font-family: 'Microsoft Yahei', sans-serif;
}

ul li {
    list-style-type: none;
    display: list-item;
}

a {
    font-family: 'Microsoft Yahei';
    line-height: 1.7;
    color: #000000;
    margin: 0px;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    -o-transition: all 0.25s;
    -moz-transition: all 0.25s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
    color: #FF8C00;
    cursor: pointer;
}

/*-----------------------------------------------------
[ page ]
 */
.frame-all {
    width: 100%;
    height: 100%;
    min-height: 500px;
    margin: 0 auto;
    border: 1px solid;
    background: no-repeat url("../images/bg-image.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
}

.header-wrapper {
    height: 100px;
    width: 100%;
    border: 1px solid;
}

.logo {
    margin: 15px;
}

.slogan {
    margin: 38px;
}

.slogan-text {
    font-size: 30px;
}

.user {
    margin: 30px;
}

.user-name {
    font-size: 20px;
    padding: 10px;
    position: relative;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.main-wrapper {
    height: calc(100% - 100px);
    position: relative;
}

.slider-wrapper {
    width: 150px;
    height: 100%;
    position: absolute;
    left: 0;
    border: 1px solid;
}

.slider {
    margin: 15px;
}

.slider-menu {
    line-height: 3;
    font-size: 19px;
}

.right-part-wrapper {
    width: calc(100% - 150px);
    height: 100%;
    position: absolute;
    left: 150px;
    border: 1px solid;
}

.function-wrapper {
    padding: 10px 0 10px 15px;
    border: 1px solid;
    position: relative;
    height: 53px;
}

.function-item1 {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid;
    font-size: 20px;
    width: 85px;
    float: left;
}

.function-item2 {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid;
    font-size: 20px;
    margin-left: 100px;
    width: 240px;
}

.function-item3 {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid;
    font-size: 20px;
    position: absolute;
    left: 370px;
    top: 10px;
    width: 360px;
    visibility: hidden;
}

.type-choose-wrapper {
    position: absolute;
    left: 115px;
    width: 88px;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #ffffff;
}

.type-choose-wrapper input {
    display: block;
    opacity: 0;
    width: 88px;
    height: 40px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.type-choose-wrapper input:hover {
    cursor: pointer;
    color: #FF8C00;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}

.search {
    position: absolute;
    right: 20px;
    top: 10px;
    border: 1px solid;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.function-wrapper span:hover {
    cursor: pointer;
    color: #FF8C00;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}

.search-input {
    width: 200px;
    height: 30px;
    font-size: 20px;
    border: 0 none;
    background-color: transparent;
}

.file-table {
    table-layout: fixed;
    border-collapse: collapse;
    line-height: 2.5;
    font-size: 16px;
}

.file-table thead tr {
    display: block;
}

.file-table tbody {
    display: block;
    height: 780px;
    width: 100%;
    overflow-y: auto;
}

#fileTable tr:hover {
    background-color: #0ab4ff;
}

.col-1 {
    width: 1300px;
    text-align: left;
}

.col-2 {
    width: 200px;
    text-align: center;
}

.col-3 {
    width: 300px;
    text-align: center;
}

.context-menu {
    position: absolute;
    border: 3px solid #000000;
    background-color: #ffffff;
}

.context-menu a {
    text-decoration: none;
}

.context-menu li:hover {
    background-color: #0ab4ff;
}

.dir-click-able:hover {
    text-decoration: none;
    color: #FF8C00;
    cursor: pointer;
}

/*--------------------------------------------
[ ScrollBar ]
 */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
    background: purple;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: blueviolet;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(247, 149, 51);
}

/*---------------------------------------------
[ upload ]
 */
.upload-window {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 800px;
    height: 600px;
    border: 1px solid #000000;
    background-color: #ffffff;
}

.upload-title {
    background-color: #FF8C00;
    height: 30px;
    font-size: 19px;
}

.upload-title a {
    text-decoration: none;
    padding: 5px;
}

.upload-item-detail {
    width: 760px;
    height: 530px;
    margin: 20px;
    overflow-y: auto;
}

.upload-item-detail li {
    border-bottom: 1px solid darkblue;
    margin-top: 10px;
}

.upload-filename {
    font-size: 19px;
}

.upload-progress progress {
    width: 700px;
    margin-right: 20px;
}

.upload-progress span {
    width: 40px;
    font-size: 15px;
}

.upload-info span {
    font-size: 15px;
}

/*---------------------------------------------
[ tool ]
 */
.p-l-5 {
    padding-left: 5px;
}

.p-l-10 {
    padding-left: 10px;
}

.p-l-15 {
    padding-left: 15px;
}

.p-r-5 {
    padding-right: 5px;
}

.p-r-10 {
    padding-right: 10px;
}

.p-r-15 {
    padding-right: 15px;
}

.p-r-25 {
    padding-right: 25px;
}

.p-b-5 {
    padding-bottom: 5px;
}

.m-l-15 {
    margin-left: 15px;
}

.border-right-solid {
    border-right: 1px solid;
}

.border-bottom-dashed {
    border-bottom: 1px dashed #000000;
}

.border-bottom-solid {
    border-bottom: 1px solid #000000;
}

.hover-pointer:hover {
    cursor: pointer;
}

.display-none {
    display: none;
}

.display-contents {
    display: contents;
}

.element-onfocus {
    color: #FF8C00;
}

.checkbox-checked {
    background-color: #0ab4ff;
}